@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* global css starts*/
.teal {
  color: #32bfbd;
}

.slider_section-title {
  width: 100%;
  margin-bottom: 27px;
}

.slider_section-title .strip {
  width: 100%;
  display: flex;
  gap: 6px;
  margin-bottom: 6px;
}

.slider_section-title .strip .strip1 {
  width: 50px;
  height: 6px;
  background-color: #32bfbd;
}

.slider_section-title .strip .strip2 {
  width: 50px;
  height: 6px;
  background-color: #000000;
}

.slider_section-title h2 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 37px;
}

.slider_section-content {
  margin-bottom: 70px;
}

/* global css ends */

.kredx_news .header_section {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 58px;
  margin-bottom: 50px;
}

.kredx_news .header_section .header_title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 55px;
  line-height: 67px;
}

.cards-wrapper {
  display: flex;
  justify-content: center;
}
.card .img_container {
  width: 100%;
  height: 70px;
}
.card .img_container img {
  max-width: 100%;
  height: 60px;
}

.card .card-body p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-transform: capitalize;

  color: #000000;
}
.card {
  margin: 0 0.5em;
  box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
  border: none;
  border-radius: 0;
  width: 250px;
  border: 3px solid #aaa9a9;
  border-radius: 15px;
}
.carousel-inner {
  padding: 1em;
}
.carousel-control-prev,
.carousel-control-next {
  background-color: #e1e1e1;
  width: 5vh;
  height: 5vh;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
}
@media (min-width: 768px) {
  .card img {
    height: 11em;
  }
}
